<div class="m-2">
    <h2>Perfil</h2>
    <div class="flex flex-row border-radius p-2">
      <mat-icon  class="icon-size">account_circle</mat-icon>
      <div class="ml-2 flex-col-8 align-self-center p-2">
          <p>Nombre: {{user.nombre | titlecase }} {{user.apellido | titlecase}}</p>
          <p>Cl: {{user.cedula}}</p>
          <p>Gmail: {{user.email_user}}</p>
          <p>Rol: {{user.role_nombre}}</p>
      </div>
    </div>
    <div class="border-radius mt-2">
        <h2 class="mb-0 px-2 mt-2">Calcular Ganacias</h2>
        <div class="flex justify-content-between px-2 mt-2">
            <div>       
                <mat-form-field class="pr-2">
                    <input matInput [matDatepicker]="dateInit" placeholder="Fecha Inicial" [(ngModel)]="fechaInicial">
                    <mat-datepicker-toggle matSuffix [for]="dateInit"></mat-datepicker-toggle>
                    <mat-datepicker #dateInit></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="px-2">
                    <input matInput [matDatepicker]="dateEnd" placeholder="Fecha Final" [(ngModel)]="fechaFinal">
                    <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                    <mat-datepicker #dateEnd></mat-datepicker>
                </mat-form-field>
                <button mat-button mat-flat-button color="primary" (click)="calcularGanacias()">Calcular</button>
            </div>
            <h4>Ganacias: {{ganancias}}</h4>
        </div>
        <div class="p-2">
            <app-table
            [keys]="keys"
            [displayedColumns]="displayedColumns" 
            [data]="data"
            >
            </app-table>
        </div>
    </div>
</div>