<div class="m-2">
  <h2>Perfil</h2>
  <div class="flex flex-row border-radius p-2">
    <mat-icon  class="icon-size">account_circle</mat-icon>
    <div class="ml-2 w-80 align-self-center p-2">
        <p>Nombre: {{user.nombre | titlecase }} {{user.apellido | titlecase}}</p>
        <p>Cl: {{user.cedula}}</p>
        <p>Gmail: {{user.email_user}}</p>
        <p>Rol: {{user.role_nombre}}</p>
        <p>Saldo: {{user.saldo}}</p>
        <p>Numero de Cuenta Bancaria Activa: {{user.nroCuenta === null ?  'No posee una cuenta activa' : this.user.nroCuenta}}</p>
    </div>
  </div>
  <div class="border-radius mt-2">
    <div class="flex justify-content-between px-2 mt-2">
      <h2 class="mb-0">Contactos de Emergencia</h2>
      <button mat-button mat-flat-button color="primary" (click)="openModalAgregarContracto()">+ Agregar Contacto</button>
    </div>
    <div class="p-2">
      <app-table
        title="Contactos de Emergencia"
        [keys]="keys"
        [displayedColumns]="displayedColumns" 
        [data]="data"
        [configActions]="configActions" 
        (deleteIndexData)="eliminarContacto($event)"
        (editIndexData)="editContacto($event)"
      >
      </app-table>
    </div>
  </div>
</div>
